*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: 68, 175, 105;
  --yellow: 250, 250, 0;
  --blue: 43, 158, 179;
  --red: 248, 51, 60;
  --orange: 255, 149, 5;
  --purple: 110, 68, 255;
  --white: 255, 255, 255;
}

body,
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: "Playfair Display", serif;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
}

button {
  outline: none;
  background: none;
  border: none;
  font-family: inherit;
}

a,
button {
  text-decoration: none;
  position: relative;
  color: inherit;
  font-size: inherit;
}
a::before,
button::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 5px;
  background-color: rgba(var(--yellow), 0.3);
  transition: all 200ms ease-in-out;
}

a:hover::before,
button:hover::before {
  height: 100%;
}

.container {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}

.hero-container {
  background-color: rgba(var(--green), 0.6);
  background-image: url("541854.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.hero {
  background-color: rgba(var(--white), 0.9);
  width: 90%;
  height: 90%;
  max-width: 1150px;
  display: grid;
  padding: 2rem;
  grid-template-rows: max-content 1fr max-content;
  outline: 1px solid rgba(0, 0, 0, 0.3);
  outline-offset: -1rem;
  position: relative;
}
.title-text {
  align-self: center;
  justify-self: center;
}

.name {
  font-size: 36px;
}

.degree {
  font-size: 14px;
  line-height: 1.3;
  /* font-family: "Raleway", sans-serif; */
  padding-left: 0.2rem;
}

.media-links {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
}

::selection {
  background-color: rgba(250, 250, 0, 0.3);
}

.menu-container {
  text-align: right;
  z-index: 100;
  font-family: "Raleway", sans-serif;
}

.main-menu {
  position: absolute;
  background-color: white;
  top: 1rem;
  left: 1rem;
  bottom: 1rem;
  right: 1rem;
  display: grid;
  place-items: center;
  transform: scale(0, 1);
  transform-origin: right;
  transition: 500ms all ease-in-out;
}

.main-nav-list {
  list-style: none;
  opacity: 0;
  transition: 200ms all ease-out;
  transition-delay: 0s;
}

.main-nav-item {
  margin-bottom: 1.5rem;
}

.open {
  transform: scale(1, 1);
}
.open .main-nav-list {
  opacity: 1;
  transition: 400ms all ease-in-out;
  transition-delay: 300ms;
}

/* About Page Styling */

.about-section {
  grid-template-columns: minmax(200px, 700px) 65%;
  align-items: center;
}

.about-text {
  order: 1;
}

.about-image {
  justify-self: center;
  max-width: 80%;
  order: 0;
  margin: 1.5rem auto;
}
.about-image > img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 600px) {
  .about-section {
    display: grid;
  }

  .name {
    font-size: 53px;
  }
  .degree {
    font-size: 21px;
  }
  body {
    font-size: 21px;
  }
  .main-nav-item {
    font-size: 31px;
  }
}

.hightlightable {
  color: rgba(var(--red), 0.6);
}
span.highlighted {
  color: rgba(var(--green), 0.6);
}
