*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: 68, 175, 105;
  --yellow: 250, 250, 0;
  --blue: 43, 158, 179;
  --red: 248, 51, 60;
  --orange: 255, 149, 5;
  --purple: 110, 68, 255;
  --white: 255, 255, 255;
}

body,
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: sans-serif;
  line-height: 1.7;
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  font-family: "Playfair Display", serif;
}

button {
  outline: none;
  background: none;
  border: none;
  font-family: inherit;
}

p {
  margin-bottom: 1rem;
  font-family: "Raleway", sans-serif;
  max-width: 60ch;
}
h1 {
  max-width: 60ch;
}

a,
button {
  text-decoration: none;
  position: relative;
  color: inherit;
  font-size: inherit;
}
a::before,
button::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 5px;
  background-color: rgba(var(--yellow), 0.4);
  transition: all 250ms ease-in-out;
}

a:hover::before,
button:hover::before {
  height: 100%;
}

.container {
  width: 90%;
  max-width: 1150px;
  margin: 0 auto;
}

li {
  list-style: none;
  margin-bottom: 1.5rem;
}

.hero-container {
  background-color: rgba(var(--green), 0.6);
  background-image: url("541854.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100%;
  display: grid;
  place-items: center;
}

.hero {
  background-color: rgba(var(--white), 0.97);
  width: 100%;
  height: 100%;
  display: grid;
  padding: 2rem;
  grid-template-rows: max-content 1fr max-content;
  position: relative;
  gap: 1rem;
}

.media-links {
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
}

::selection {
  background-color: rgba(250, 250, 0, 0.3);
}

.spacer {
  height: 3rem;
}

.thumbnail {
  width: 100%;
  max-width: 500px;
  display: block;
  border: 2px solid rgba(var(--green));
}
.thumbnail::before {
  content: none;
}
.thumbnail img {
  max-width: 100%;
}

.menu-container {
  z-index: 100;
  position: fixed;
  right: 3rem;
  top: 2rem;
  font-family: "Raleway", sans-serif;
}

.main-menu {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: grid;
  place-items: center;
  transform: scale(0, 1);
  transform-origin: right;
  transition: 500ms all ease-in-out;
  z-index: 10;
}

.main-nav-list {
  list-style: none;
  opacity: 0;
  transition: 200ms all ease-out;
  transition-delay: 0s;
}

.main-nav-item {
  margin-bottom: 1.5rem;
}

.open {
  transform: scale(1, 1);
}
.open .main-nav-list {
  opacity: 1;
  transition: 400ms all ease-in-out;
  transition-delay: 300ms;
}

/* Section Styling */

.section {
  grid-template-columns: auto minmax(300px, 400px) minmax(30ch, 60ch) auto;
  align-items: center;
  gap: 1rem;
}

.section-text {
  grid-column: 3;
}
.philosophy-text {
  display: grid;
  justify-items: center;
}
.section-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.section-image {
  grid-column: 2;
  justify-self: center;
  max-width: 80%;
  margin: 1.5rem auto;
}
.section-image > img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.google-badge {
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.google-badge img {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

@media screen and (min-width: 600px) {
  .google-badge {
    margin: 0;
  }
  .section {
    display: grid;
  }
  .section.one-col {
    grid-template-columns: 1fr minmax(30ch, 70ch) 1fr;
  }
  .section.one-col .section-text {
    grid-column: 2;
  }
  .section.one-col .section-title {
    margin-bottom: 2rem;
  }
  body {
    font-size: 21px;
  }
  .main-nav-item {
    font-size: 31px;
  }
}
